/* Register.css */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 70px;

}

.register-form {
  width: 70%;
  padding: 20px;

  border-radius: 5px;
 /*  box-shadow: rgb(162, 217, 238) 0 2px 4px; Light blue shadow */


}

.register-form h4 {
  margin-bottom: 20px;
  text-align: center;
  color: #343eca;
  font-size: 30px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  margin-right: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #81c9f3;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  /* margin-left: 550px;
  margin-right: 550px; */  /*IF I ADD CONTAINER CSS */
 margin-left: 41%;
 margin-right: 41%;

}


.button-container button {
  padding: 10px 20px;
 background-color: #429ace;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.button-container button:hover {
  color: #1333e7; /* Ensure text color remains white on hover */
}
.button-container button[type="submit"]:hover {
  color: #074d17; /* Submit button hover text color */
}

.button-container button[type="button"]:hover {
  color: #ff0000; /* Cancel button hover text color */
}


@media only screen and (max-width: 768px) {
  .register-form {
    width: 100%; /* Adjust form width for smaller screens */
    margin: 0 10px; /* Add some margin to the sides */
  }

  .button-container {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
    margin-left: auto; /* Center align buttons */
    margin-right: auto;
    margin-top: 20px;
  }

  .button-container button {
    margin: 5px 0; /* Add some vertical margin between buttons */
  }
}

.error-message-return{
  color: #ff0000;


}